.box{
    background-color:white;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;

}
.head{
    display:inline-block;
    padding:20px;
    margin:40px;
    font-size:1.5rem
    
}
.btn{
    background-color:black;
     border-radius:5px;
     color:white;
     width:130px;
     height:30px;
}
p{
    display:float;
}
.para{
    width:600px;
    height:300px;
    margin:20px;
    padding:20px;
}

.p1{
    color:gray;
    font-size:3.5rem;
}
.txt{
    color:black;
}

.b1{
    width:130px;
    height:30px;
    background-color:black;
    color:white;
    border-radius:10px;
    margin:5px;
}
.b2{
    width:130px;
    height:30px;
    background-color:white;
    color:black;
    border-radius:10px;
    margin:5px;
    border:white;
}

.imgage{
    position:relative;
    top:-350px;
    left:800px;
    background-color:gray;


}
.img{
    border-radius:50%;
    position:absolute;
    top:200px;
    left:900px;
    

}
.p{
    margin:30px;
    padding:40px;
}

.v1{
    padding:50px;
    margin:10px;
    float:right;
    font-size:30px;
    color:gray;
}

.t1{
    font-size:10px;
}

/* shop popular categories */

.shop{
    padding:10px;
    margin:250px;
}
.center{
    text-align:center;
    color:black;
    font-size:3.5rem;
}
.sp{
    color:gray;
}


.design {
    width:300px;
    height:400px;
   display:flex;
}
.d1{
    width:300px;
    height:200px;
    border-radius:20px 20px 0 0;
    background-color:gray;
}
.x1{
    width:300px;
    height:80px;
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}




/* why choosing us */
.win{
    display:flex;
    gap:20px;
}

img{
   border-radius:50px;
   padding:30px;
}

.im1  {
 font-size:2rem;

}


.s1{
    color:gray;
}
.section{
    display:flex;
    padding:20px;
}

.class1{
    text-align:center;
    width:300px;
    height:200px;
    background-color:lightgreen;
    border-radius:30px;
    padding:10px;
}
.class2{
    margin:20px;
    text-align:center;
    width:300px;
    height:200px;
    background-color:white;
    border-radius:30px;
    padding:10px;
}
.class3{
    text-align:center;
    width:300px;
    height:200px;
    background-color:white;
    border-radius:30px;
    padding:10px;
}
.class4{
    margin:20px;
    text-align:center;
    width:300px;
    height:200px;
    background-color:lightgreen;
    border-radius:30px;
    padding:10px;
}
.section1{
    display:flex;
    gap:20px;
}
.z{
    color:gray;
}
.t1{
    font-size:3.5rem;
}
.z1{
    font-size:1.5rem;
}
.k1{
    display:flex;

}
.w{
    text-align:center;
    width:200px;
    height:100px;
    background-color:gray;
    padding:5px;
    margin:15px;
    border-radius:10px;
}
.c1{
    position:relative;
    top:5px;
    left:100px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:black;
}
.foot{
    width:100%;
    height:400px;
    display:flex;
    background-color:black;
    color:white;
    padding:10px;
    margin:10px;
}
.cls{
    padding:30px;
    margin:10px;
}